name: 3D City Metrics

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          filename: profile-3d-city.svg
          
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
